<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<script src="http://d3js.org/d3.v3.min.js"></script>

<dom-module id="geno-gram">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        font: 14px sans-serif;
      }

      #graph::content .link {
        fill: none;
        stroke: #607D8B;
        stroke-width: 3;
      }
      #graph::content .sibling {
        fill: none;
        stroke: #607D8B;
        stroke-width: 3;
        stroke-dasharray: 10 5;
      }
      #graph::content  .border {
        fill: none;
        shape-rendering: crispEdges;
        stroke: #aaa;
      }
      #graph::content  .node-male {
        stroke: #1976D2;
        fill:#2196F3;
      }
      #graph::content  .node-female {
        stroke: #E91E63;
        fill:#F06292;

      }
      #graph ::content .tooltip {
        position: absolute;
        text-align: center;
        width: 100px;
        height: 58px;
        padding: 2px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
      }

    </style>

    <h2 class="page-title">Alice and Maxwell's Genogram</h2>
    <!--&lt;!&ndash;<span>{{tree}} {{relation}}</span>&ndash;&gt;-->
    <div id="graph"></div>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is :'geno-gram',
        createElements: function () {
          var margin = {
              top: -150,
              right: 10,
              bottom: 140,
              left: 10
            },
            width = 860,
            height = 600;
          var kx = function (d) {
            return d.x - 15;
          };
          var ky = function (d) {
            return d.y - 15;
          };
//thie place the text x axis adjust this to center align the text
          var tx = function (d) {
            return d.x - 14;
          };
//thie place the text y axis adjust this to center align the text
          var ty = function (d) {
            return d.y + 35;
          };
//make an SVG
          var svg = d3.select(this.$.graph).append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");




          //This is basic parent child data
          var root = {
            name: "",
            id: 1,
            gender:'female',
            age:28,
            location:"pitsBurg,12233",
            hidden: true,
            children: [ {
              name: "Maxwell",
              id: 16,
              gender:"male",
              age:28,
              location:"pitsBurg,12233",
              no_parent: true
            },{
              name: "",
              id: 2,
              no_parent: true,
              hidden: true,
              children: [{
                name: "Jack",
                gender:"female",
                age:28,
                location:"pitsBurg,12233",
                id: 12,

              }, {
                name: "Lina",
                gender:"male",
                age:28,
                location:"pitsBurg,12233",
                id: 13,
                no_parent: true
              }, {
                name: "Cindy",
                gender:"female",
                age:28,
                location:"pitsBurg,12233",
                id: 3
              }, {
                name: "",
                id: 4,
                gender:"male",
                hidden: true,
                no_parent: true,
                children: [{
                  name: "Dexter",
                  gender:"male",
                  age:28,
                  location:"pitsBurg,12233",
                  id: 5,
                }, {
                  name: "Emanuel",
                  gender:"male",
                  age:28,
                  location:"pitsBurg,12233",
                  id: 6,
                }]
              }, {
                name: "Kevin",
                gender:"male",
                id: 11,
                age:28,
                location:"pitsBurg,12233",
                no_parent: true
              }, {
                name: "Gerrad",
                id: 7,
                age:28,
                location:"pitsBurg,12233",
                gender:"male",
                children: [{
                  name: "Hants",
                  gender:"female",
                  age:28,
                  location:"pitsBurg,12233",
                  id: 8,
                }, {
                  name: "Ibrahaim",
                  gender:"male",age:28,
                  location:"pitsBurg,12233",
                  id: 9
                }]
              }]
            }, {
              name: "Alice",
              gender:"female",
              age:28,
              location:"pitsBurg,12233",
              id: 10,
              no_parent: true,
              children: [

              ]
            }]
          }
          var allNodes = flatten(root);
          var siblings = [{
            source: {
              id: 3,
              name: "C",
              gender:"male"
            },
            target: {
              id: 11,
              name: "K",
              gender:"male"
            }
          }, {
            source: {
              id: 12,
              name: "L",
              gender:"male"
            },
            target: {
              id: 13,
              name: "J",
              gender:"male"
            }
          }, {
            source: {
              id: 16,
              gender:"male",
              name: "Q"
            },
            target: {
              id: 10,
              gender:"male",
              name: "M"
            }
          }];

// Compute the layout.
          var tree = d3.layout.tree().size([width, height]),
            nodes = tree.nodes(root),
            links = tree.links(nodes);

// Create the link lines.
          svg.selectAll(".link")
            .data(links)
            .enter().append("path")
            .attr("class", "link")
            .attr("d", elbow);


          var nodes = svg.selectAll(".node")
            .data(nodes)
            .enter();



//First draw sibling line with blue line
          svg.selectAll(".sibling")
            .data(siblings)
            .enter().append("path")
            .attr("class", "sibling")
            .attr("d", sblingLine);

// Create the node rectangles.

          var div = d3.select(this.$.graph).append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);

                nodes.append('rect')
                  .attr("class", function(d){
                    if(d.gender==='female'){
                      return 'node-female';
                    } else{
                      return 'node-male';
                    }
                  })
                  .attr("height", 30)
                  .attr("width", 30)
                  .attr("id", function (d) {
                    return d.id;
                  })
                  .attr("display", function (d) {
                    if (d.hidden) {
                      return "none"
                    } else {
                      return ""
                    };
                  })
                  .attr("x", kx)
                  .attr("y", ky )
                  .attr("rx", function(d){
                    if(d.gender==='female'){
                      return 15;
                    } else{
                      return 0;
                    }
                  })
                  .attr("ry", function(d){
                    if(d.gender==='female'){
                      return 15;
                    } else{
                      return 0;
                    }
                  } )
                  .on("mouseover",function(d){
                    div.transition()
                      .duration(200)
                      .style("opacity", 0.9);
                    div .html("<span>"+d.name+"</span> <br> <span>"+d.age+"</span><br> <span>"+d.location+"</span>")
                      .style("left", (d3.event.pageX * 0.6) + "px")
                      .style("top", (d3.event.pageY) + "px");
                  })
                  .on("mouseout", function(d) {
                    div.transition()
                      .duration(500)
                      .style("opacity", 0);
                  });



// Create the node text label.
          nodes.append("text")
            .text(function (d) {
              return d.name;
            })
            .attr("x", tx)
            .attr("y", ty);


          /**
           This defines teh line between siblings.
           **/
          function sblingLine(d, i) {
            //start point
            var start = allNodes.filter(function (v) {
              if (d.source.id == v.id) {
                return true;
              } else {
                return false;
              }
            });
            //end point
            var end = allNodes.filter(function (v) {
              if (d.target.id == v.id) {
                return true;
              } else {
                return false;
              }
            });
            //define teh start coordinate and end co-ordinate
            var linedata = [{
              x: start[0].x,
              y: start[0].y
            }, {
              x: end[0].x,
              y: end[0].y
            }];
            var fun = d3.svg.line().x(function (d) {
              return d.x;
            }).y(function (d) {
              return d.y;
            }).interpolate("linear");
            return fun(linedata);
          }

          /*To make the nodes in flat mode.
           This gets all teh nodes in same level*/
          function flatten(root) {
            var n = [],
              i = 0;

            function recurse(node) {
              if (node.children) node.children.forEach(recurse);
              if (!node.id) node.id = ++i;
              n.push(node);
            }
            recurse(root);
            return n;
          }
          /**
           This draws the lines between nodes.
           **/
          function elbow(d, i) {
            if (d.target.no_parent) {
              return "M0,0L0,0";
            }
            var diff = d.source.y - d.target.y;
            //0.40 defines the point from where you need the line to break out change is as per your choice.
            var ny = d.target.y + diff * 0.40;

            var linedata = [{
              x: d.target.x,
              y: d.target.y
            }, {
              x: d.target.x,
              y: ny
            }, {
              x: d.source.x,
              y: d.source.y
            }]

            var fun = d3.svg.line().x(function (d) {
              return d.x;
            }).y(function (d) {
              return d.y;
            }).interpolate("step-after");
            return fun(linedata);
          }
        },

        ready: function () {
          this.createElements();
        }
      });

    })();
  </script>
</dom-module>
